<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/blog.css}">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="#" class="logo">F.B</a>          
            <ul class="list">
                <li class="list_item">
                    <a href="">ABOUT</a>
                </li>

                <li class="list_item">
                    <a href="">MY POST</a>
                </li>
                
                <li class="list_item">
                    <a href="">ACCOUNT</a>
                </li>
                
                <li class="list_item">
                    <a href="#">LOGOUT</a>
                </li >
            </ul>
        </nav>
    </header>

    <div class="container">  
            <main class="posts">
                <div class="post">
                   <h1 class="post__author">Mohammad</h1>
                   <img src="" alt="" class="post__img">
                   <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                </div>
                <div class="post">
                    <h1 class="post__author">Mohammad</h1>
                    <img src="" alt="" class="post__img">
                    <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                 </div>

                 <div class="post">
                    <h1 class="post__author">Mohammad</h1>
                    <img src="" alt="" class="post__img">
                    <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                 </div>
                 <div class="post">
                    <h1 class="post__author">Mohammad</h1>
                    <img src="" alt="" class="post__img">
                    <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                 </div>
                 <div class="post">
                    <h1 class="post__author">Mohammad</h1>
                    <img src="" alt="" class="post__img">
                    <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                 </div>
                 <div class="post">
                    <h1 class="post__author">Mohammad</h1>
                    <img src="" alt="" class="post__img">
                    <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                 </div>

                 <div class="post">
                    <h1 class="post__author">Mohammad</h1>
                    <img src="" alt="" class="post__img">
                    <p class="post__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex id modi ratione nesciunt voluptates necessitatibus voluptas totam dolorum quaerat eveniet.</p>
                 </div>
            </main>
    </div>
    
</body>
</html>