<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends Blog</title>
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <script src="https://kit.fontawesome.com/d4e96040f3.js" crossorigin="anonymous"></script>

</head>

<body>



<div th:if="${message}" class="modal" th:classappend="${messageType == 'error' ? 'error' : 'success'}"><span th:text="${message}"></span><i class="fa-solid fa-x icon"></i></div>
    <div class="container">

        <main class="main">
            <div class="texts">         
                    <h1 class="textCon__h1">FRIENDS BLOG!</h1>
            </div>

            <div class="formContainer">
                <form th:action="@{/login}" class="formLogin" method="POST">
                    <div class="credentialInput">
                        <input type="text" name="username"  placeholder="Email or Username">
                    </div>
                    <div class="credentialInput">     
                        <input type="password" name="password"  placeholder="Password">
                    </div>
                    <div class="credentialInput">
                        <!-- <button class="btn">Lon In</button> -->
                        <input class="btn" type="submit" value="Log In">
                    </div>
                    <div class="linkCon">
                        <a th:href="@{/password-reset}">Forger Password?</a>
                    </div>
                    <hr>
                    <div class="linkCon">
                        <a class="btn-signup" href="/signup">Create a New Account</a>
                    </div>

                    <div class="google">
                        <a th:href="@{/oauth2/authorization/google}">Log in with Google</a>
                    </div>
                                        
                </form>
            </div>      
        </main>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>