<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" th:href="@{/styles/reset.css}">
        <link rel="stylesheet" th:href="@{/styles/blog.css}">
    <script src="https://kit.fontawesome.com/d4e96040f3.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="container">
            <main class="posts">
                <div th:each="post : ${posts}" class="post">
                   <h1 class="post__author" th:text="${post.author.username}">Mohammad</h1>
                   <a th:href="@{/posts/{id}(id=${post.id})}"><img th:src="${post.imageData.filePath}" alt="" class="post__img"></a>
                   <!-- <h1 class="post__author" th:text="${post.author.username}"></h1> -->
                   <p class="post__desc" th:text="${post.caption}"></p>
                   <form th:action="@{/my-posts/{id}(id=${post.id})}" method="POST">
                       <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit">DELETE</button>
                   </form>
                
                </div>
            </main>
            
        </div>
    <script th:src="@{/js/script.js}"></script>
        
    </body>
</html>