<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <title>Document</title>
    <style>
        textarea{
            display: block;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <form class="newPostForm" method="POST">
            <input type="file" name="" id="">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="upload">
        </form>
    </div>
</body>
</html>