<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends Blog</title>
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <script src="https://kit.fontawesome.com/d4e96040f3.js" crossorigin="anonymous"></script>

</head>
<body class="password-reset-background">
    <div class="password-reset-container">
        <form th:method="GET" class="password-reset-form">
            <input type="email" class="password-reset-input" id="email" name="email" placeholder="Enter your email" required>
            <span class="error-message" id="emailError"></span>
            <button type="submit" class="password-reset-button">Send</button>
        </form>

        <form id="codeInputContainer" class="code-input-container">
            <input type="text" maxlength="1" class="code-input" oninput="moveFocus(this, nextElementSibling)" required>
            <input type="text" maxlength="1" class="code-input" oninput="moveFocus(this, nextElementSibling)" required>
            <input type="text" maxlength="1" class="code-input" oninput="moveFocus(this, nextElementSibling)" required>
            <input type="text" maxlength="1" class="code-input" oninput="moveFocus(this, nextElementSibling)" required>
            <input type="text" maxlength="1" class="code-input" oninput="moveFocus(this, nextElementSibling)" required>
            <input type="text" maxlength="1" class="code-input" required>
            <button type="submit" class="code-submit-button">Verify</button>
        </form>
        <span class="error-message" id="codeError"></span>


        <form id="newPasswordContainer" class="new-password-container" >
            <input type="password" class="new-password-input" id="newPassword" placeholder="New Password" required>
            <input type="password" class="new-password-input" id="confirmPassword" placeholder="Confirm New Password" required>
            <button type="submit" class="new-password-button">Set New Password</button>
            <span class="error-message" id="passwordError"></span>
        </form>
    </div>
    <script th:src="@{/js/resetPass.js}"></script>
</body>
</html>