:root{
    --primary-color: #00B8B8;
    --secondary-color:#FF6B6B;
    --accent-color: #FFD166;
    --neutral-color: #333333;
    --secondary-text-color: #E5E5E5;
    --primary-text-color: #333333;
    --hover-color:#39FF14;
    --error-color:#FF6347;
    --border-rad:1rem;
    --font-size-h1:4rem;
    --success-color:#215704;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}


.container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.main{
   width: 80%;
   margin: 0 auto;
   min-height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.texts{
    width: 100%;
    max-width: 40rem;
    min-width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textCon__h1{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

.textCon__p{
    font-size: 2rem;
}

.formContainer{
    width: 100%;
    height: 40rem;
    max-width: 40rem;
    min-width: 30rem;
}

.formLogin,.formSignup{
   padding: 3rem 1.5rem 3rem 1.5rem;
   width: 100%;
   height: 100%;
   background-color: var(--secondary-text-color);
   border-radius: var(--border-rad);
}


.credentialInput{   
    width: 100%;
    height: 4.5rem;
    margin-bottom: 1.5rem;
    border-radius: var(--border-rad);
    
}

.credentialInput input{
    font-size: 1.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
    width: 100%;
    border-radius: var(--border-rad);
    border: none;
    outline: none;
}

.btn{
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}


.linkCon{
    height: 4.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-signup{
    background-color: var(--accent-color);
    color: #ffffff;
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-rad);
    margin-top: 2rem;
}
.google{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: absolute;
    width: 35rem;
    height: 10rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);
}
.icon{
    position: absolute;
    right: .5rem;
    top: .5rem;
    font-size: 2rem;
    cursor: pointer;
}
.error {
    color: var(--error-color);
    background-color: #c6adad; 
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--border-rad);
}

.success {
    color: var(--success-color);
    background-color: #D0FFD0; 
    margin-bottom: 1rem;
    border-radius: var(--border-rad);
}

/* 
***
RESET PASSWORD
***
*/

.password-reset-background {
    height: 100vh;
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B8B8;
    font-family: Arial, sans-serif;
}

.password-reset-container {
    width: 100%;
    max-width: 40rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: .8rem;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.password-reset-input {
    padding: 1rem;
    border: .2rem solid #ccc;
    border-radius: .4rem;
    font-size: 1.6rem;
}

.password-reset-button {
    padding: 1rem;
    background-color: #007B7B;
    color: white;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s;
}

.password-reset-button:hover {
    background-color: #005a5a;
}

.code-input-container {
    display: none; 
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.code-input {
    width: 4rem;
    height: 4rem;
    border: .2rem solid #007B7B;
    text-align: center;
    font-size: 2.4rem;
    border-radius: .4rem;
}

.code-submit-button {
    padding: 1rem;
    background-color: #007B7B;
    color: white;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s;
}

.code-submit-button:hover {
    background-color: #005a5a;
}

.new-password-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.new-password-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.new-password-button {
    padding: 10px;
    background-color: #007B7B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-password-button:hover {
    background-color: #005a5a;
}


.error-message {
    color: #D8000C; 
    font-size: 14px;
    height: 20px; 
    margin-top: 5px;
}


@media(min-width:300px){
    .container{
        width: 100%;
    }
}


 @media  (min-width:576px){
    .container{
        width:54rem;
    }
} 


 @media (min-width:768px){
    .container{
        width:72rem;
    }
} 

@media (min-width:992px){
    .container{   
        width: 92rem;
    }
    .textCon__h1{
        font-size: 4rem;
    }
   
}

@media (min-width:1200px){
    .container{
        width: 114rem ;
    }
    .texts{
        height: 40rem;
    }
    
}

@media (min-width:1400px){
    .container{
        width: 137rem ;
    }
}

